BillsPC.Web_Dashboard/appsettings.Development.json
BillsPC.Web_Dashboard/appsettings.json
BillsPC.Web_Dashboard/bin
BillsPC.Web_Dashboard/obj
BillsPC.Web_Dashboard/Properties
BillsPC.Pokemon/bin
BillsPC.Pokemon/obj
BillsPC.Bot/obj
BillsPC.Bot/bin
BillsPC.Airtable/bin
BillsPC.Airtable/obj