<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bill's PC Dashboard</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guildlist" Match="NavLinkMatch.All">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Guilds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="commands" Match="NavLinkMatch.All">
                <span class="oi oi-terminal" aria-hidden="true"></span> Commands
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="damagecalculator" Match="NavLinkMatch.All">
                <span class="oi oi-calculator" aria-hidden="true"></span> Damage Calculator
            </NavLink>
        </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="teambuilder" Match="NavLinkMatch.All">
                        <span class="oi oi-laptop" aria-hidden="true"></span> Teambuilder
                    </NavLink>
                </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}