@page "/damagecalculator"
<h3>DamageCalculator</h3>
<div class="container mx-auto">
    <iframe src="https://calc.pokemonshowdown.com" style="width: 100%; height: 100%"></iframe>
</div>


@code {
    
}